<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

</head>
<body>

    <div id="app">
        <h1>Login</h1>
        <form @submit.prevent="login">
        <div>
            <label for="username">Usuario:</label>
            <input type="text" id="username" v-model="formData.username" required>
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" v-model="formData.password" required>
        </div>
        <div>
            <button type="submit">Iniciar sesión</button>
        </div>
        </form>
        <p v-if="loginError" class="error">Vuelva a ingresar los datos porfavor</p>
        <p v-if="loggedIn" class="success">Sesion iniciado exitosamente</p>
    </div>


    <script>
        new Vue({
        el: '#app',
        data: {
            formData: {
            username: '',
            password: '',
            },
            users: [],
            loginError: false,
            loggedIn: false,
        },
        mounted() {
            
            fetch('users.json')
            .then(response => response.json())
            .then(data => {
                this.users = data;
            });
        },
        methods: {
            login() {
            const { username, password } = this.formData;
            
            
            const user = this.users.find(user => user.username === username && user.password === password);
            
            if (user) {
                
                this.loggedIn = true;
                this.loginError = false;
            } else {
                
                this.loggedIn = false;
                this.loginError = true;
            }
            },
        },
        });
        </script>
        


</body>
</html>
